<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#"
      th:action="@{/movieForm}"
      th:object="${newMovie}"
      method="post">
    <input type="hidden" th:field="*{director.id}"/>
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Movie Title:</label>
        <div>
            <input type="text" th:field="*{title}" />
            <p><span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/></p>
        </div>
    </div>

    <div >
        <label>Movie Year:</label>
        <div>
            <input type="text" th:field="*{year}" />
            <p><span th:if="${#fields.hasErrors('year')}" th:errors="*{year}"/></p>
        </div>
    </div>

    <div>
        <label>Movie Description:</label>
        <div>
            <input type="text" th:field="*{description}" />
            <p><span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/></p>
        </div>
    </div>


    <input class="btn btn-primary" type="submit" value="Submit"/></input>
    <input class="btn btn-primary" type="reset" value="Reset"/>

</form>
<a class="btn btn-secondary" href="/listAllMovies" type = "submit">See All Movies</a><br/><br>
<a class="btn btn-secondary" href="/listAllDirectors" type = "submit">See All Directors</a><br/><br>
<a class="btn btn-primary" href="/" role="button">Link to the Home Page</a>

</body>
</html>